<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>闪捷测试平台</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/login.css">
<!--		<script type="text/javascript" src="../js/login.js">-->
			
<!--		</script>-->
	</head>
	<body>
		<div id="loginBox">
			<h1>闪捷测试平台</h1>
			<div class="inputBox">
				<div class="inputText">
					<input type="text" placeholder="username">
				</div>
				<div class="inputText">
					<input type="password" placeholder="password">			
				</div>
				<input type="button" class="inputButton" onclick=login() value="LOGIN">
				
			</div>
			
			
		</div>
			
	
	</body>
</html>
